/*----COLORS----*/
/*
white: #3E1DD1
grey: #A7ADBB
blue: #16344E
blue/black: #14191D
*/


/*style.css*/
body {
    background-color: #16344E;
}

h1 {
    color: #A7ADBB;
    font-family: Garamond, Verdana, Tahoma, sans-serif;
    
}

a {
    /*removes underlining from link*/
    text-decoration: none;
}

.main-buttons li {
    list-style-type: none;
}

button {
    background-color: #E1DDD1;
    padding: 15px;
    border-radius: 50%;
}